.card {
  width: 200px;
  height: 320px;
  margin-right: 10px;
  margin-left: 10px;
}

#home-cards {
  position: absolute;
  bottom: 10vh;
  animation: slideshow 100s linear infinite;
  transform: translate3d(0,0,0);
  overflow: hidden;
  height: 340px;
}

@keyframes slideshow {
  0% {
    transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
  }
  100% {
    transform: translateX(-800vw);
    -webkit-transform: translateX(-800vw);
  }
}